//About Us
.jumbotron
	.container
		.row
			.col-md-6
				h2  About Us
				hr
				p.text-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus obcaecati tenetur necessitatibus, quibusdam non alias, iure, incidunt hic quisquam optio numquam suscipit enim facere aut laudantium ipsum voluptate ratione itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus obcaecati tenetur necessitatibus, quibusdam non alias, iure, incidunt hic quisquam optio numquam suscipit enim facere aut laudantium ipsum voluptate ratione itaque.
			.col-md-6.hover14
				figure
					img.img-fluid(src="recursos/img/banners_750x500/grafico_estadistico.png")
						
				
