//Article
.row
	.col-md-12
		img.img-fluid(src="http://lorempixel.com/700/500")
		h3.my-4 Lorem ipsum.
		hr
		p.text-muted Date January
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia praesentium ipsam aspernatur quas quos iste quis dicta, nesciunt officia! Earum commodi tempora placeat repellat dolores in odit esse fugiat, repudiandae!
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime non doloribus vitae magnam minima placeat error id! Unde minus suscipit soluta blanditiis deserunt, nihil dolorem veniam quidem temporibus, quasi quia assumenda vero, quod, excepturi error qui incidunt labore nulla voluptatibus?
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime id consectetur asperiores odit temporibus, dolor odio quasi cupiditate obcaecati voluptas, quisquam quas assumenda? Incidunt eaque necessitatibus vero, fugit odit earum.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ipsum rerum deleniti magnam odio, ad assumenda laboriosam fuga quo fugit ea quam saepe accusamus voluptates totam, repellendus iusto animi nobis. Quod nemo itaque dicta ullam harum consectetur sit. Temporibus, optio!
		p.d-inline.text-muted.border-right.pr-2  2 Comments
		p.d-inline.text-muted.px-2 2 Shared