//Contact Form
.row
	.col-md-12
		form
			.form-group
				label Name
				input.form-control(type="text",placeholder="Your Name")
			.form-group
				label Email
				input.form-control(type="email",placeholder="Your email")
			.form-group
				label Message
				textarea.form-control(rows="3")
			button.btn.btn-primary(type="submit") Submit