//parallax
section.imagen_parallax.d-flex.flex-column.justify-content-center.align-items-center.text-white.my-5.wow.fadeInDown(data-wow-duration="4s")
	h2  Lorem ipsum dolor.
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt laudantium a dolore laborum id aspernatur!
//./parallax