mixin card_portafolio(titulo='lorem',descripcion=' Lorem ipsum dolor sit.',image='http://via.placeholder.com/200x130')
	//card_portafolio
	.col-md-3
		.card(style="width:14rem")
			img.card-img-top(src=image)
			.card-body
				.card-title= titulo
				.card-text= descripcion

		