include mixin_portafolio.jade
- var titulo =  'Lorem ipsum dolor.'
- var descripcion =  ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta in earum, nihil aut pariatur laboriosam id aperiam officiis minus hic ullam repellendus, natus minima. Quas.'
//portafolio
section#portafolio.my-5.wow.fadeInDown(data-wow-duration="4s")
	h2.text-center.my-4 Portafolds Us
	.container
		.row
			+card_portafolio(titulo,descripcion)
			+card_portafolio(titulo,descripcion)
			+card_portafolio(titulo,descripcion)
			+card_portafolio(titulo,descripcion)
		
