extends ./layout/layout.jade

block title
	title pagina contacto

block content
	.container
		.row.my-5
			.col-md-5
				include parts/contact_us.jade
			.col-md-7
				include parts/form_contact.jade

	
	include parts/map.jade