extends ./layout/layout.jade

block title
	title index

block content
	include parts/about_us.jade
	include parts/services/services.jade
	include parts/parallax.jade
	include parts/portafolio/portafolio.jade
	include parts/clients_us.jade
			