//navbar
#logo
    font-family 'Chewy', cursive
    font-size 30px

.navbar
    border-bottom 10px solid #4DD0E1
    
//form-subscribe
a.pr-4:hover
	opacity 0.5

//footer	
.titulo_footer:hover
	text-decoration underline
	
.titulo_footer
	a
		padding 30px !important;
	