//Widget Search
.col-md-12
	.input-group.mb-3
		input.form-control(type='text', placeholder='Search', aria-label='Username', aria-describedby='basic-addon1')
		.input-group-prepend
			span#basic-addon1.input-group-text
				a(href="#")
					i.fa.fa-search
				

	    
	  
	  

             

            
