//Widget Categoria
.col-md-12.my-4
	.list-group
		a.list-group-item.list-group-item-action.active(href='#') Categories
		a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
		a.list-group-item.list-group-item-action(href='#') Morbi leo risus
		a.list-group-item.list-group-item-action(href='#') Porta ac consectetur ac
		a.list-group-item.list-group-item-action(href='#') Vestibulum at eros	  

		  
		  
		  
		  
	  
