//Comments
.row
	.col-md-12.my-3
		h3 4 Comments:
		each val in [1, 2, 3, 4 ]
			#comentarios.border.p-2.my-2
				h5= 'Name' + val
				hr
				p= 'Comment' + val + ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, facere?'
				a(href="#") Reply
		
		


			