//services
section#services.wow.fadeInDown(data-wow-duration="4s")
	h2.text-center.my-5 Services Us
	.container
		.row
			.col-md-3.text-center
				a.hvr-bob(href="#")
					i.fa.fa-home.fa-4x
				hr
				h5  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				a.hvr-forward(href="#")
					i.fa.fa-angle-right  read more
			.col-md-3.text-center
				a.hvr-bob(href="#")
					i.fa.fa-phone.fa-4x
				hr
				h5  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				a.hvr-forward(href="#")
					i.fa.fa-angle-right  read more
			.col-md-3.text-center
				a.hvr-bob(href="#")
					i.fa.fa-clock-o.fa-4x
				hr
				h5  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				a.hvr-forward(href="#")
					i.fa.fa-angle-right  read more
			.col-md-3.text-center
				a.hvr-bob(href="#")
					i.fa.fa-envelope.fa-4x
				hr
				h5  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				a.hvr-forward(href="#")
					i.fa.fa-angle-right  read more
		
		
