//footer
footer
	.rounded-0.text-white.p-5.bg-dark
		.container
			.row
				.col-md-3.border-right
					h5.titulo_footer  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
				.col-md-3.border-right
					h5.titulo_footer  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
				.col-md-3.border-right
					h5.titulo_footer  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-angle-right  Lorem ipsum.
				.col-md-3
					h5.titulo_footer  Contact Us.
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-phone     +233 434 243
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-envelope  info@demolink.org
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-map-marker  Rhidmand Usa 1343
					a.d-block.text-white.hvr-forward(href="#")
						i.fa.fa-clock-o  Mon - Sat - 9:00 - 18:00
		
					
//./footer