//form subscribe
section.suscripcion
  .py-2.rounded-0.py-3.bg-dark
    .container
      .row
        .col-md-7
          .input-group.py-0
            input.form-control(type='text', placeholder="Your e-mail", aria-label="Recipient's username", aria-describedby='basic-addon2')
            .input-group-append
              button.btn.btn-outline-success(type='button') Suscribe
        
        .col-md-5.text-right
            a.pr-4.hvr-bob
              i.fa.fa-facebook.fa-3x
            a.pr-4.hvr-bob
              i.fa.fa-twitter.fa-3x
            a.pr-4.hvr-bob
              i.fa.fa-google.fa-3x
            a.pr-4.hvr-bob
              i.fa.fa-linkedin.fa-3x
            a.pr-4.hvr-bob
              i.fa.fa-youtube.fa-3x
      hr
//./form subscribe
