doctype html
html(lan="en")
	head
		include metas.jade
		include styles.jade
		include fonts.jade
         
		block title

	body
		include navbar.jade
		include carousel.jade

		block content

		include form_subscribe.jade
		include footer.jade
		include copyright.jade
		include scripts.jade
