//styles
link(rel="stylesheet", href="recursos/scrollup/image.css")
link(rel="stylesheet", href="recursos/scrollup/labs.css")
link(rel="stylesheet", href="recursos/css/bootstrap.css")
link(rel="stylesheet", href="bower_components/hover/css/hover-min.css")
link(rel="stylesheet", href="bower_components/wow/css/libs/animate.css")
link(rel="stylesheet", href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css")
link(rel="stylesheet", href="bower_components/owl.carousel/dist/assets/owl.theme.default.min.css")
link(rel="stylesheet", href="recursos/css/simple_hover_image.css")
link(rel="stylesheet", href="recursos/social_media/jquery.floating-social-share.min.css")
link(rel="stylesheet", href="recursos/css/style.css")
//./styles