//styles
link(rel="stylesheet", href="recursos/css/bootstrap.css")
link(rel="stylesheet", href="bower_components/hover/css/hover-min.css")
link(rel="stylesheet", href="bower_components/wow/css/libs/animate.css")
link(rel="stylesheet", href="recursos/css/style.css")
//./styles